@charset "UTF-8";

body {
  font-family: Quicksand;
}

.container_start {
  position: absolute;
  width: 55%;
  text-align: center;
  left: 25%;
}

.container_start img {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

.container_start .btn {
  position: absolute;
  bottom: 18%;
  left: 46.6%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  /* top: 65%; */
}

.container .btn:hover {
  background-color: black;
}

.nav-item {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}
.nav-link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;

  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: '';
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
  ul {
    margin-top: 40px;
  }
}

.logo {
  border-radius: 50px;
  height: 70px;
}

p {
  text-align: justify;
  text-indent: 50 px;
}

a {
  color: #606060;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.arq {
  margin: 0 !important;
  padding: 0 !important;
}

.arq_text {
  padding-left: 20px !important;
}

#image1 {
  z-index: 0;
  width: 100%;
}

.histo2 {
  background-image: url('../_imagens/back1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.history {
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 20px;
}

.img-fluid {
  margin-top: 8px;
  vertical-align: middle;
}

.container2 {
  padding-top: 200px;
  text-align: center;
  background: url('../_imagens/baixa/b_lisboa.jpg') repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.title {
  padding-top: 40px;
  padding-bottom: 50px;
  font-weight: 800;
  color: #fff;
  font-size: 140px;
  background-position: 40% 50%;
  margin: auto;
  width: 100%;
  line-height: 110px;
  letter-spacing: -8px;
}

footer {
  background: #16222a;
  background: -webkit-linear-gradient(59deg, #3a6073, #16222a);
  background: linear-gradient(59deg, #3a6073, #16222a);
  color: white;
  margin-top: 100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #fa944b;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}
